html, body, h1, h2, h3, h4, h5, h6, hr, li, ul, p, a, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  //color: $gray-color-dark;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  //text-decoration: none;
  list-style: none;
}


* {
  position: relative;
  //@include box-sizing(border-box);
}
