/*
 * Fonts
 */
$font-weight-thin: 	      100;
$font-weight-ultra-light: 200;
$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-medium:      500;
$font-weight-semi-bold:   600;
$font-weight-bold:        700;
$font-weight-ultra-bold:  800;
$font-weight-black:       900;

$base-font-family:   "Pingfang SC", "Open Sans", "Lantinghei SC", "Microsoft Yahei Light", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-size:     18px;
$base-font-weight:   $font-weight-ultra-light;
$small-font-size:    14px;
$base-line-height:   24px;
$theme-font-family:  "MFYueHei";
$theme-font-family-normal: 'Avenir Book';
$slogan-font-family: 'Permanent Marker Regular';

/*
 * Colors
 */
$white-color:             #FFF;

$gray-color-white:        #F9F9F9;
$gray-color-ultra-light:  #EEEEEE;
$gray-color-light:        #DDDDDD;
$gray-color:              #B3B3B3;
$gray-color-dark:         #808080;
$gray-color-ultra-dark:   #646464;

$title-bar-color:         #F0F0F0;

$shadow-color:            rgba(0,0,0,0.5);

//$theme-color-white:       #F6F8F8;
//$theme-color-light:       #EFF6F6;
//$theme-color:             #CAE1E2;
//$theme-color-dark:        #AED7D8;
//$theme-color-ultra-dark:  #607979;


//$theme-font-color:        #9EA8A9;
//$theme-font-color-dark:   #6E7979;

$color-1:                 #E3645A;
$color-2:                 #F48984;
$color-3:                 #FDB8A1;
$color-4:                 #F7CC9B;
$color-5:                 #F8D76E;
$color-6:                 #FEE9A5;
$color-7:                 #F0E0BC;
$color-8:                 #D1CCC6;
$color-9:                 #B6D7B3;
$color-10:                #BEE1DA;
$color-11:                #A7DAD8;
$color-12:                #92BCC3;
$color-13:                #93A9BD;
$color-14:                #B9CDDC;
$color-15:                #BABBDE;
$color-16:                #928BA9;
$color-17:                #CA9ECE;
$color-18:                #EFCEED;
$color-19:                #FECEDC;
$color-20:                #FAA5B3;


