@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.header {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color: $title-bar-color;
  @include box-shadow(0 0 0.3px 0 $shadow-color);

  h3 {
	height: 100%;
	text-align: center;
	color: #999999;
	font-family: 'DIN Alternate';
	font-weight: $font-weight-normal;
	font-size: 16px;
	letter-spacing: 3px;
	@include vertical-align();
  }

  img {
	width: 14px;
	top: -1.5px;
	margin: 0 4px 0 3px;
  }
}
