@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.layout {
  width: 100%;
  height: 100%;
}

.sidebar_wrapper {
  z-index: 9;
  position: absolute;
  width: 200px;
  height: 100%;
  background-color: $white-color;
  @include box-shadow(0 0 0.3px 0 $shadow-color)
}
.main_wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 0;
  margin-left: 210px;
  overflow: auto;
  background-color: $gray-color-white;
}

.sidebar {
  height: 100%;
}
.main {
  height: 100%;
}

.line {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 195px;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  //background-color: rgba(0,0,0,0.5);
}

.drop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 10px;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.03);

  .drop_child {
	width: 100%;
	height: 100%;
	border: dashed 1px $gray-color;
	color: $gray-color-dark;
	font-size: 14px;
	text-align: center;
	p {
	  top: 50%;
	  left: 50%;
	  display: table;
	  transform: translate(-50%, -50%);
	}
  }
}
.siderbar_drop {
  .sidebar {
	opacity: 0.3;
  }
}

.main_drop {
  .main {
	opacity: 0.3;
  }
}

.hint {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 10px;
  color: $gray-color-light;
  font-size: 14px;
  text-align: center;
  p {
	top: 50%;
	left: 50%;
	display: table;
	transform: translate(-50%, -50%);
  }
}
