@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.top {
  height: 100%;
  margin: 0 20px;
  -webkit-user-select: none;
}
.text_wrapper {
  position: absolute;
  height: 100%;
  left: 0;

  h5 {
    display: inline-block;
    height: 100%;
    line-height: 100%;
    color: $gray-color-dark;
    font-size: 16px;
    font-weight: $font-weight-medium;
    @include vertical-align();
  }

  span {
    display: inline-block;
    margin-left: 20px;
    height: 100%;
    line-height: 100%;
    color: $gray-color;
    font-size: 12px;
    @include vertical-align();

	&.not_exist {
	  color: $color-1;
	}
  }
}

.right {
  position: absolute;
  height: 100%;
  right: 0;
}

.slider {
  width: 200px;
}
