@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";

.img {
  @include box-sizing(content-box);
  display: block;
  margin: 0 auto;
  //padding: -3px;
  //border: solid 0 transparent;
  border-radius: 3px;
  background-color: $gray-color-white;
  //overflow: hidden;
  img {
	border-radius: 2px;
	@include box-shadow(0 0 1px 0 $shadow-color);
  }
  p {
	position: absolute;
  }
}

.active {
  margin: -4px;
  border: solid 4px rgba(200, 200, 200, 0.6);
  //&:before {
  //display: block;
  //content: '';
  //margin: -3px;
  //}

}
