@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.list {
  position: absolute;
  padding: 1px 10px;
}

.column {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  img {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 3px;
	background-color: $white-color;
	@include box-shadow(0 0 1px 0 $shadow-color);
  }
}


.col_3 {
  //display: inline-block;
  width: 33.33%;
  padding: 0 10px;

}

.row_5 {
  box-sizing: border-box;
  //margin: 0 -10px;
  //padding: 0 10px;
}
