@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";

.menu {
  border: none;

  :global {
	.ant-menu-item {
	  padding: 0;
	  color: $gray-color-dark;
	  background-color: $white-color;
	}
	.ant-menu-item-active, .ant-menu-item-selected {
	  color: $gray-color-dark;
	  background-color: $gray-color-ultra-light;
	}
	.ant-menu-item-disabled {
	  cursor: default;
	}
  }

  button {
	width: 100%;
	padding: 0 16px;
	cursor: pointer;
  }
}
