@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";

.part {
  margin: 30px 0;
  .title {
    margin: 0 30px 10px;
    cursor: default;
    -webkit-user-select: none;
    h5 {
      display: inline-block;
      color: $gray-color;
      font-size: 12px;
      font-weight: $font-weight-medium;
    }
  }
  .title_right {
    float: right;
  }
  @include clear-fix();
}

