@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";

.wrapper {
  position: absolute;
  display: table-cell;
  min-width: 100%;
  padding: 0 20px;
  -webkit-user-select: none;

}

.menu {
  z-index: 3;
  position: absolute;
  border-radius: 3px;
  overflow: hidden;
  @include box-shadow(0 0 2px 0 $shadow-color)

}
