@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.wrapper {
  img {
	display: block;
	margin: 0 auto;
	border-radius: 3px;
	background-color: $white-color;
	@include box-shadow(0 0 1px 0 $shadow-color);
  }
}
