/*
 * grid
 */
/*
 * Fonts
 */
/*
 * Colors
 */
html, body, h1, h2, h3, h4, h5, h6, hr, li, ul, p, a, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", "Open Sans", "Lantinghei SC", "Microsoft Yahei Light", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  list-style: none; }

* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

button {
  background-color: transparent;
  outline: none; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLight.svg") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
.container {
  max-width: 800px;
  margin: 0 auto; }

body {
  background-color: #F9F9F9; }

header {
  width: 100%;
  padding: 100px 20px;
  background-color: #FFF; }
  header p {
    margin-top: 80px;
    line-height: 1.4em;
    color: #646464;
    font-size: 1em;
    font-weight: 200; }

main {
  padding: 100px 20px; }
  main .screenshot {
    display: table;
    margin: 0 auto;
    max-width: 100%; }

footer {
  width: 100%;
  padding: 100px 20px;
  background-color: #FFF; }

.icon {
  display: table;
  margin: 0 auto; }

h1 {
  margin-top: 20px;
  text-align: center;
  letter-spacing: 2px;
  color: #B3B3B3;
  font-size: 1.25em;
  font-weight: 400; }

.feature-wrapper {
  padding-top: 200px;
  font-size: 0; }

.feature {
  display: inline-block;
  vertical-align: top;
  min-width: 300px;
  width: 50%;
  height: 300px;
  padding: 0 5%;
  font-size: 16px; }
  .feature .img-wrapper {
    height: 40px; }
  .feature img {
    display: table;
    margin: 0 auto; }
  .feature h5 {
    margin-top: 10px;
    text-align: center;
    color: #FF93A2;
    font-size: 0.95em;
    font-weight: 400; }
  .feature p {
    margin-top: 20px;
    line-height: 1.4em;
    text-align: center;
    color: #646464;
    font-size: 1.025em; }

a.download {
  display: table;
  margin: 40px auto 0;
  padding: 10px 50px;
  color: #FFF;
  background-color: #FF93A2;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  a.download:hover {
    opacity: 0.7; }

a.github {
  display: table;
  margin: 20px auto 0;
  color: #FF93A2;
  font-size: 0.8em;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  a.github:hover {
    opacity: 0.7; }

footer .icon {
  width: 60px; }
footer h1 {
  font-size: 1em; }
footer p {
  display: table;
  margin: 40px auto 0;
  line-height: 0.8em;
  color: #B3B3B3;
  font-size: 1em;
  font-weight: 300; }
footer a {
  color: #FF93A2;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  footer a:hover {
    opacity: 0.7; }

@media (max-width: 760px) {
  .feature {
    display: table;
    margin: 0 auto;
    max-width: 320px;
    width: 100%; } }

/*# sourceMappingURL=index.css.map */
